footer {
    background: #90D4C6;
    padding: 4rem 0 5rem 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.ul {
    display: flex;
    justify-content: center;
    gap: 3.56rem;
    margin-bottom: 5.5rem;
}

.link {
    color: #458D7E;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.129px;
    font-size: 1.12rem;
}

.link:hover {
    color: #fff;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.mediaContainer img:hover {
    filter: brightness(0) invert(1);
    cursor: pointer;
}

@media (min-width: 46em) {
    footer {
        padding: 4.5rem 0;
    }
}